.document {
  padding: 1.25rem;
  @include breakpoint-up(large) {
    padding: 6% 11.11111%;
  }

  &__subheading {
    font-size: var(--h4-size);
    font-weight: 700;
    letter-spacing: -0.005em;
    line-height: 1.4;
  }
}

.editorial {
  background-color: #f8f2e7;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding-top: 130px;
    padding-bottom: 36px;
    max-width: 800px;
  }

  &__subheading {
    max-width: 1200px;
    font-size: var(--h2-size);
    line-height: 62.1px;
    letter-spacing: -0.45 px;
  }
}
