.benefits {
  width: 100%;
  position: relative;
  padding: 0 1.25rem;
  box-sizing: border-box;

  .wrapper {
    justify-content: space-between;
    padding-bottom: 2rem;
    @include breakpoint-up(large) {
      padding-bottom: 6.25rem;
    }
  }

  &__illustration {
    display: none;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }

    @include breakpoint-up(large) {
      max-width: 600px;
      display: block;
    }
  }
  &__content {
    width: 100%;
    @include breakpoint-up(large) {
      max-width: 838px;
    }

    h2 {
      font-size: var(--h1-size);
      letter-spacing: -0.55px;
      line-height: 48.1px;
      font-weight: 700;
      margin-bottom: 1rem;

      @include breakpoint-up(large) {
        font-size: var(--h2-size);
        margin-bottom: 2.5rem;
        max-width: 80%;
      }
    }

    @include breakpoint-up(large) {
      padding: 5rem 0 6rem 0;
    }
  }

  &__list,
  .collabs__container {
    font-size: var(--h4-size);
    font-weight: 700;
    line-height: 25.2px;

    @include breakpoint-up(large) {
      max-width: 80%;
    }
  }

  &__elem,
  .collabs__container > a {
    padding: 1rem 0 1rem 0.5rem;
  }

  &__elem + &__elem,
  .collabs__container > a + .collabs__container > a {
    border-top: 1px solid;
  }
}
