@supports (
  background-image:
    image-set(
      url("../images/benefit-bg-1000w.avif") 1x,
      url("../images/benefit-bg-1000w.webp") 1x
    )
) {
  .benefits {
    &::after {
      background-image: image-set(
        url("../images/benefit-bg-1000w.avif") 1x,
        url("../images/benefit-bg-1000w.webp") 1x
      );
    }
  }
}
@supports not (
  background-image:
    image-set(
      url("../images/benefit-bg-1000w.avif") 1x,
      url("../images/benefit-bg-1000w.webp") 1x
    )
) {
  .benefits {
    &::after {
      background-image: url("../images/benefit-bg-1000w.jpg");
    }
  }
}

.benefits {
  width: 100%;
  position: relative;
  padding: 0 1.25rem;
  box-sizing: border-box;

  @include breakpoint-up(large) {
    &::after {
      content: "";
      z-index: 1;
      position: absolute;
      top: 0;
      left: 50%;
      right: 0;
      bottom: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
    }
  }

  &__content {
    width: 100%;
    @include breakpoint-up(large) {
      max-width: 50%;
    }

    h2 {
      font-size: var(--h2-size);
      letter-spacing: -0.55px;
      line-height: 48.1px;
      font-weight: 700;
      margin-bottom: 1.5rem;

      @include breakpoint-up(large) {
        margin-bottom: 2.5rem;
        max-width: 80%;
      }
    }

    @include breakpoint-up(large) {
      padding: 5rem 0 6rem 0;
    }
  }

  &__list {
    font-size: var(--h4-size);
    font-weight: 700;
    line-height: 25.2px;

    @include breakpoint-up(large) {
      max-width: 80%;
    }
  }
  &__elem {
    padding: 1rem 0 1rem 0.5rem;
  }
  &__elem + &__elem {
    border-top: 1px solid;
  }
}
