.btn {
  &--primary {
    display: block;
    background-color: $clr-dark;
    color: $clr-light;
    padding: 1rem 1.37rem;
    text-transform: uppercase;
    letter-spacing: 0.44px;
    line-height: 22px;

    &:hover,
    &:focus {
      background-color: $clr-grey;
      color: $clr-light;
    }
  }
  &--secondary {
    text-decoration: underline;
    text-underline-position: under;
  }

  &--arrow {
    display: flex;
    align-items: center;

    &::after {
      margin-left: 1rem;
      background-image: url("../../app/images/icons/Icon=Icon-arrow-white.svg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      content: "";
      display: block;
      height: 1.375rem;
      width: 1.375rem;
    }
  }
}
