.btn {
  &--primary {
    background-color: $clr-dark;
    color: $clr-light;
    padding: 1rem 1.37rem;
    text-transform: uppercase;
    letter-spacing: 0.44px;
    line-height: 22px;

    &:hover,
    &:focus {
      background-color: $clr-grey;
      color: $clr-light;
    }
  }
  &--secondary {
    text-decoration: underline;
    text-underline-position: under;
  }
}
