@supports (
  background-image:
    image-set(
      url("../images/collab-1-1000w.avif") 1x,
      url("../images/collab-1-1000w.webp") 1x
    )
) {
  .collabs__illustration-image {
    background-image: image-set(
      url("../images/collab-1-1000w.avif") 1x,
      url("../images/collab-1-1000w.webp") 1x
    );

    &--1 {
      background-image: image-set(
        url("../images/collab-1-1000w.avif") 1x,
        url("../images/collab-1-1000w.webp") 1x
      );
    }
    &--2 {
      background-image: image-set(
        url("../images/collab-2-1000w.avif") 1x,
        url("../images/collab-2-1000w.webp") 1x
      );
    }
    &--3 {
      background-image: image-set(
        url("../images/collab-3-1000w.avif") 1x,
        url("../images/collab-3-1000w.webp") 1x
      );
    }
    &--4 {
      background-image: image-set(
        url("../images/collab-4-1000w.avif") 1x,
        url("../images/collab-4-1000w.webp") 1x
      );
    }
    &--5 {
      background-image: image-set(
        url("../images/collab-5-1000w.avif") 1x,
        url("../images/collab-5-1000w.webp") 1x
      );
    }
    &--6 {
      background-image: image-set(
        url("../images/collab-6-1000w.avif") 1x,
        url("../images/collab-6-1000w.webp") 1x
      );
    }
  }
}
@supports not (
  background-image:
    image-set(
      url("../images/collab-1-1000w.avif") 1x,
      url("../images/collab-1-1000w.webp") 1x
    )
) {
  .collabs__illustration-image {
    background-image: url("../images/collab-1-1000w.jpg");

    &--1 {
      background-image: url("../images/collab-1-1000w.jpg");
    }
    &--2 {
      background-image: url("../../app/images/collab-2-1000w.jpg");
    }

    &--3 {
      background-image: url("../../app/images/collab-3-1000w.jpg");
    }

    &--4 {
      background-image: url("../../app/images/collab-4-1000w.jpg");
    }

    &--5 {
      background-image: url("../../app/images/collab-5-1000w.jpg");
    }

    &--6 {
      background-image: url("../../app/images/collab-6-1000w.jpg");
    }
  }
}

.collabs {
  width: 100%;
  position: relative;
  padding: 0 1.25rem;
  box-sizing: border-box;
  background-color: $clr-dark;
  color: $clr-light;

  .wrapper {
    justify-content: space-between;
    padding-bottom: 2rem;

    @include breakpoint-up(large) {
      padding-bottom: 6.25rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__illustration {
    @include breakpoint-up(large) {
      max-width: 600px;
      display: flex;
      resize: both;
      width: 100%;
      aspect-ratio: 3/4;

      &-image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
      }
    }
  }
}
