.collabs {
  width: 100%;
  position: relative;
  padding: 0 1.25rem;
  box-sizing: border-box;
  background-color: $clr-dark;
  color: $clr-light;

  .wrapper {
    justify-content: space-between;
    padding-bottom: 2rem;

    @include breakpoint-up(large) {
      padding-bottom: 6.25rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__illustration {
    @include breakpoint-up(large) {
      max-width: 600px;
      display: flex;
      resize: both;
      width: 100%;
      aspect-ratio: 3/4;

      &-image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
      }
    }
  }
}
