.events {
  width: 100%;
  color: $clr-light;
  background-color: $clr-dark;

  &__wrapper {
    padding: 1.25rem 1.25rem 2.5rem;
    grid-gap: 1.25rem;
    align-items: center;
    display: grid;
    grid-template:
      "title . view-all" auto "content content content" minmax(
        42vw,
        max-content
      )
      / auto 1fr auto;

    h2 {
      grid-area: title;
      font-size: var(--h6-size);
      font-weight: 700;
      letter-spacing: 0.0275em;
      line-height: 1.375;
      text-transform: uppercase;
    }
  }

  &__list {
    grid-area: content;
    @include breakpoint-up(large) {
      padding-left: calc(8.333% - 1.25rem);
      padding-right: calc(8.333% - 1.25rem);
    }
  }

  &__element {
    display: grid;
    margin-bottom: 1.25rem;
    font-size: 2.125rem;
    line-height: 1.2;
    transition: color 0.2s linear;

    @include breakpoint-up(large) {
      font-size: calc(1.45995rem + 2.83753vw);
      grid-column-gap: 1.875rem;
      grid-template-columns: minmax(6.5ch, max-content) 1fr;
    }

    span {
      @include breakpoint-down(medium) {
        font-size: 0.61em;
      }
    }

    h3 {
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0;
      font-weight: 700;
      overflow: hidden;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 450px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s cubic-bezier(0.2, 0.4, 0.8, 1);

    img {
      width: 100%;
      height: auto;
    }
  }
}
