.events {
  margin-top: 5.5rem;
  width: 100%;
  color: $clr-light;
  background-color: $clr-dark;
  overflow: hidden;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 5.5rem 2.5rem 1.5rem 2.5rem;

    p {
      font-size: var(--h6-size);
      font-weight: 700;
      letter-spacing: 0.0275em;
      line-height: 1.375;
      text-transform: uppercase;
    }
  }

  &__list {
    padding: 2rem 0 2rem 0;
    @include breakpoint-up(large) {
      padding: 10rem calc(8.333% - 1.25rem) 10rem calc(8.333% - 1.25rem);
    }
  }

  &__element {
    display: grid;
    margin-bottom: 1.25rem;
    font-size: 2.125rem;
    line-height: 1.2;
    transition: color 0.2s linear;

    @include breakpoint-up(large) {
      font-size: calc(1.45995rem + 2.83753vw);
      grid-column-gap: 1.875rem;
      grid-template-columns: minmax(6.5ch, max-content) 1fr;
    }

    span {
      @include breakpoint-down(medium) {
        font-size: 0.61em;
      }
    }

    h3 {
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0;
      font-weight: 700;
      overflow: hidden;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 450px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s cubic-bezier(0.2, 0.4, 0.8, 1);

    img {
      width: 100%;
      height: auto;
    }
  }
}

// Helpers
.image-visible {
  @include breakpoint-up(large) {
    opacity: 1;
  }
}
