.footer {
  grid-area: footer;

  &__container {
    color: $clr-dark;
    display: grid;
    grid-template-areas: "customer customer" "linksA linksB" "newsletter newsletter" "campaign campaign" "end end";
    grid-template-columns: repeat(2, 1fr);

    @include breakpoint-up(large) {
      grid-template-areas: "customer newsletter linksA linksB" "customer campaign linksA linksB" "end end end end";
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__customer {
    border-top: 1px solid;
    grid-area: customer;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;

    a,
    strong {
      font-size: var(--h4-size);
      font-weight: 700;
      letter-spacing: -0.005em;
      line-height: 1.4;
    }

    &-link {
      display: inline-block;
      width: max-content;
    }
  }

  &__links {
    border-top: 1px solid;
    grid-area: linksA;
    padding: 1.25rem;

    a {
      font-weight: 700;
    }
  }

  &__links + &__links {
    border-left: 1px solid;
    grid-area: linksB;
  }

  &__newsletter {
    border-top: 1px solid;
    grid-area: newsletter;
    padding: 1.25rem;

    p {
      font-size: var(--h4-size);
      font-weight: 700;
      letter-spacing: -0.005em;
      line-height: 1.4;
      margin-bottom: 0.9375rem;
    }

    &-fields {
      position: relative;
    }

    &-label {
      color: $clr-grey;
      cursor: text;
      position: absolute;
      transform: translateY(calc(0.875rem + 1px));
      transition: transform 0.18s cubic-bezier(0.2, 0.4, 0.8, 1);
      will-change: transform;
    }

    &-input {
      background-image: linear-gradient(90deg, #000, #000 50%, #0000 0, #0000);
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 1px;
      border: 1px solid $clr-light;
      border-bottom-color: rgba(0, 0, 0, 0);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom: 0;
      padding-bottom: calc(0.875rem + 1px);
      background-color: $clr-light;
      color: $clr-dark;
      display: block;
      outline: 0;
      padding: 0.875rem 0;
      padding-bottom: 0.875rem;
      width: 100%;
    }

    &-btn {
      padding: 0.875rem 0 0.875rem 1.2rem;
      cursor: pointer;
      appearance: button;
      border: none;
      color: $clr-light;
      transition: background-color 0.1s ease;
      background-color: initial;
      position: absolute;
      right: 0;
      top: 0;

      span {
        clip: rect(0 0 0 0);
        border: 0;
        display: block;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }

      &::after {
        background-image: url("../../app/images/icons/Icon=Icon-arrow.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        content: "";
        display: block;
        height: 1.375rem;
        width: 1.375rem;
      }
    }
  }

  &__campaign {
    border-top: 1px solid;
    font-size: var(--h4-size);
    font-weight: 700;
    grid-area: campaign;
    letter-spacing: -0.005em;
    line-height: 1.4;
    padding: 1.25rem;

    &-link {
      transition: color 0.2s linear;
      color: inherit;

      span {
        align-items: baseline;
        display: flex;

        &::before {
          content: "▶︎";
          font-size: 0.875rem;
          margin-right: 1rem;
          position: relative;
          top: -0.1em;
        }
      }
    }
  }
  &__campaign,
  &__links,
  &__newsletter {
    border-left: 1px solid;
  }
  &__end {
    align-items: center;
    border-top: 1px solid;
    display: grid;
    grid-area: end;
    grid-template-columns: 1fr auto auto;
    padding: 1.25rem;
    font-weight: 400;

    @include breakpoint-up(large) {
      grid-template-columns: repeat(3, minmax(max-content, 1fr));
    }
  }

  &__copyright {
    margin-bottom: 0;
  }

  &__some {
    display: flex;
    @include breakpoint-up(large) {
      justify-self: center;
    }
  }

  &__icon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    display: block;
    height: 1.875rem;
    width: 1.875rem;

    &--twitter {
      background-image: url("../../app/images/icons/Icon=SoMe-twitter.svg");
    }
    &--facebook {
      background-image: url("../../app/images/icons/Icon=SoMe-facebook.svg");
    }
    &--instagram {
      background-image: url("../../app/images/icons/Icon=SoMe-instagram.svg");
    }
    &--vimeo {
      background-image: url("../../app/images/icons/Icon=SoMe-vimeo.svg");
    }
    &--spotify {
      background-image: url("../../app/images/icons/Icon=SoMe-spotify.svg");
    }
    &-label {
      clip: rect(0 0 0 0);
      border: 0;
      display: block;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }
}

// Helpers
.has-focus {
  label {
    transform: translateY(-0.625rem);
  }
}
