html {
  @include breakpoint-up("xlarge") {
    font-size: 114.2857142857%;
  }
}

body {
  font-family: WW beta8, sans-serif;
  font-size: 87.5%;
  line-height: 1.6;
  margin: 0;
  padding-top: 4.28em;
  transition: all 0.2s ease;
}
.site {
  display: grid;
  grid-template: "content" 1fr "footer"/100%;
  min-height: calc(100vh - 3.75rem);
  overflow-x: hidden;
  position: relative;
}
.main {
  &--split {
    @include breakpoint-up(large) {
      border-left: 1px solid;
      align-items: flex-start;
    }
  }
}

.site-content {
  display: grid;
  grid-template-areas: "content";
  grid-template-columns: 1fr;

  &--split {
    display: grid;
    @include breakpoint-up(large) {
      grid-template-areas: "sidebar content";
      grid-template-columns: 1fr 3fr;
    }
  }
}

.sidebar {
  border-bottom: 1px solid #000;
  @include breakpoint-up(large) {
    grid-area: sidebar;
    border: 0;
  }
  padding: 1.25rem;
}

.container {
  width: 100%;
  position: relative;
  padding: 0 1.25rem;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
}

.banner {
  padding: 1.25rem 1.25rem 2rem 1.25rem;
  @include breakpoint-up(large) {
    padding: 1.25rem 1.25rem 5rem 1.25rem;
  }

  &--large {
    padding: 1.25rem 1.25rem 2rem 1.25rem;
    @include breakpoint-up(large) {
      padding: 1.25rem 1.25rem 5rem 1.25rem;
    }
  }

  &--dark {
    background-color: $clr-dark;
    color: $clr-light;
  }

  &__title {
    font-size: var(--h6-size);
    font-weight: 700;
    letter-spacing: 0.0275em;
    line-height: 1.375;
    text-transform: uppercase;
  }
}
