.nav {
  $self: &;
  display: flex;
  position: fixed;
  z-index: 15;
  top: 0;
  transition: transform 0.25s ease;
  width: 100%;
  border-bottom: 1px solid $clr-dark;
  background-color: $clr-light;

  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5625rem 0.625rem 0.625rem;
    background-color: $clr-light;

    @include breakpoint-up(large) {
      padding-left: 1.25rem;
      padding-right: 0.3rem;
    }

    > div {
      display: flex;

      @include breakpoint-up(large) {
        &:first-of-type {
          display: none;
        }
      }
    }
  }

  &__toggle {
    z-index: 1;
    position: relative;
    display: block;
    background: $clr-light;
    border: none;
    width: 2.5rem;

    &::before,
    &::after {
      background-color: currentColor;
      content: "";
      display: block;
      height: 0.125rem;
      left: 50%;
      position: absolute;
      top: 50%;
      transition: transform 0.15s cubic-bezier(0.2, 0.4, 0.8, 1);
      width: 50%;
    }

    &::before {
      transform: translate(-50%, -0.1875rem);
    }

    &::after {
      transform: translate(-75%, 0.1875rem) scaleX(0.5);
    }

    &.nav-is-expanded {
      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__logo {
    height: 16px;
    width: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__icon {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background-position: center;
    visibility: visible;
    opacity: 100%;
    transition: opacity 0.25s ease-in-out;

    &--button {
      padding: 0;
      position: relative;
      appearance: none;
      border: none;
      background-color: $clr-light;
      cursor: pointer;
    }

    &--lang {
      font: inherit;
      display: none;
      background-repeat: no-repeat;
      background-position: 100%;
      text-align: initial;
      background-image: url("../../app/images/icons/Icon=Icon-chevron.svg");

      @include breakpoint-up(large) {
        display: block;
      }

      span {
        font: inherit;
      }
    }

    &--heart {
      background-image: url("../../app/images/icons/Icon=Icon-heart.svg");
      @include breakpoint-up(large) {
        display: block;
      }
    }

    &--search {
      background-image: url("../../app/images/icons/Icon=Icon-search.svg");
    }

    &--profile {
      background-image: url("../../app/images/icons/Icon=Icon-face.svg");
    }

    &--cart {
      background-image: url("../../app/images/icons/Icon=Icon-bag.svg");

      span {
        font-size: 0.625rem;
        color: #fff;
        text-align: center;
      }
    }
  }

  &__list {
    display: block;
    visibility: visible;
    color: $clr-dark;

    background-color: #fff;

    @include breakpoint-down(medium) {
      top: 100%;
      border-bottom: 1px solid;
      width: 100%;
      transition: transform 0.25s cubic-bezier(0.2, 0.4, 0.7, 1),
        visibility 0ms 0.25s;
      z-index: -1;
      padding: 1.25rem;
      transform: translateY(-100%);
      padding-left: inherit;
      padding-right: inherit;
      left: 0;
      visibility: hidden;
      right: 0;
      position: absolute;
    }

    @include breakpoint-up(large) {
      li {
        &:not(:last-of-type) {
          margin-right: 0.25em;

          a::after {
            content: ",";
          }
        }
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      font-weight: 700;
      font-size: $h4-size;
      letter-spacing: -0.005em;
      white-space: nowrap;
    }

    @include breakpoint-up(large) {
      display: flex;
    }

    &:hover {
    }

    .sub-menu {
      display: none;
      left: 0;
      position: absolute;
      right: 0;
    }
  }
}
//#{ $self }

// Header helpers

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

.visible {
  visibility: visible;
  transform: translateY(0%);
  transition: transform 0.25s cubic-bezier(0.2, 0.4, 0.8, 1);

  .nav__icon--cart {
    display: none;
  }

  .nav__icon--profile {
    display: none;
  }

  .nav__icon--search {
    display: none;
  }
}

.hidden-icon {
  visibility: hidden;
  opacity: 0%;
  transition: opacity 0.25s ease-in-out;
}

.submenu-visible {
  display: block;
}
