.headline {
  @include breakpoint-up(large) {
    padding-bottom: 2rem;
  }

  h2 {
    font-size: var(--h1-size);
    font-weight: 700;
    letter-spacing: -0.55px;
    line-height: 48.1px;
    margin-bottom: 2rem;

    @include breakpoint-up(large) {
      font-size: var(--h2-size);
    }
  }
}
.offer {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1.75rem;
  @include breakpoint-up(large) {
    margin-bottom: 6.25rem;
  }

  &__list {
    width: 100%;
    display: flex;
    overflow: visible;
    @include breakpoint-up(large) {
      flex-wrap: nowrap;
    }
  }

  &__el {
    display: block;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.44px;
    line-height: 22px;
  }

  &__image {
    width: 100%;
    position: relative;

    &--back {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }

    @include breakpoint-up(large) {
      max-width: 480px;
    }
  }

  &__info {
    padding: 1.25rem;
  }

  &__details {
    display: flex;
    justify-content: space-between;
  }

  &__heart {
    padding-top: 0.3125rem;
    appearance: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/icons/Icon=Icon-heart.svg");
    border: none;
    display: inline-block;
    background-size: 100%;
    cursor: pointer;
    background-color: hsl(0deg, 0%, 100%);
    width: 1.25rem;
    height: 1.25rem;
  }

  &__price {
    display: flex;
    margin-top: 0.625rem;

    del {
      margin-right: 0.5em;
      position: relative;
      text-decoration: none;

      &::after {
        background-image: url("../images/scribble.webp");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        content: "";
        height: 110%;
        left: -5%;
        position: absolute;
        top: -5%;
        width: 110%;
      }
    }
  }
}

.swiper-slide {
  &:hover {
    .offer__image--back {
      display: block;
    }
  }
  @include breakpoint-up(large) {
    flex-shrink: 1;
  }
}

.swiper-slide + .swiper-slide {
  margin-left: 1px;
}
