.rescue {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding: 1.25rem;

  &__title {
    margin-bottom: 2rem;
    font-size: var(--h1-size);
    letter-spacing: -0.0125em;
    line-height: 1.09375;
    font-weight: 700;
  }

  &__paragraph {
    margin-bottom: 1.5rem;
  }
}
