.rescue {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;

  &__title {
    max-width: 40em;
  }

  &__btn {
    text-decoration: underline;
    text-underline-position: under;
  }
}
