/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: WW beta8;
  src: url(../fonts/wwbeta8-regular.woff2?e95ac8c982141450213a4d318ce670c8);
  font-weight: normal;
}
body {
  font-family: WW beta8, sans-serif;
  font-size: 87.5%;
  line-height: 1.6;
  margin: 0;
  padding-top: 4.2857142857em;
}

.nav {
  display: flex;
  position: fixed;
  z-index: 15;
  top: 0;
  transition: transform 0.25s ease;
  width: 100%;
  border-bottom: 1px solid hsl(0deg, 0%, 0%);
  background-color: hsl(0deg, 0%, 100%);
}
.nav__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5625rem 0.625rem 0.625rem;
  background-color: hsl(0deg, 0%, 100%);
}
@media (min-width: 64em) {
  .nav__wrapper {
    padding-left: 1.25rem;
    padding-right: 0.3rem;
  }
}
.nav__wrapper > div {
  display: flex;
}
@media (min-width: 64em) {
  .nav__wrapper > div:first-of-type {
    display: none;
  }
}
.nav__toggle {
  z-index: 1;
  position: relative;
  display: block;
  background: hsl(0deg, 0%, 100%);
  border: none;
  width: 2.5rem;
}
.nav__toggle::before, .nav__toggle::after {
  background-color: currentColor;
  content: "";
  display: block;
  height: 0.125rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transition: transform 0.15s cubic-bezier(0.2, 0.4, 0.8, 1);
  width: 50%;
}
.nav__toggle::before {
  transform: translate(-50%, -0.1875rem);
}
.nav__toggle::after {
  transform: translate(-75%, 0.1875rem) scaleX(0.5);
}
.nav__toggle.nav-is-expanded::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.nav__toggle.nav-is-expanded::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.nav__logo {
  height: 16px;
  width: auto;
}
.nav__logo img {
  width: 100%;
  height: 100%;
}
.nav__icon {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-position: center;
  visibility: visible;
  opacity: 100%;
  transition: opacity 0.25s ease-in-out;
}
.nav__icon--button {
  padding: 0;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
.nav__icon--lang {
  font: inherit;
  display: none;
  background-repeat: no-repeat;
  background-position: 100%;
  text-align: initial;
  background-image: url(../images/Icon=Icon-chevron.svg?9a8f0f501b84b3553174e8d2173c0686);
}
@media (min-width: 64em) {
  .nav__icon--lang {
    display: block;
  }
}
.nav__icon--lang span {
  font: inherit;
}
.nav__icon--heart {
  background-image: url(../images/Icon=Icon-heart.svg?f3e5da5080d414b4b71189a463d09093);
}
@media (min-width: 64em) {
  .nav__icon--heart {
    display: block;
  }
}
.nav__icon--search {
  background-image: url(../images/Icon=Icon-search.svg?155fa09c34892a8351a916ef4747226b);
}
.nav__icon--profile {
  background-image: url(../images/Icon=Icon-face.svg?f5eaf4a5805ee3401d9053975819d2b1);
}
.nav__icon--cart {
  background-image: url(../images/Icon=Icon-bag.svg?55ddb6abdd601f32e74469d56ba18458);
}
.nav__icon--cart span {
  font-size: 0.625rem;
  color: #fff;
  text-align: center;
}
.nav__list {
  display: block;
  visibility: visible;
  color: hsl(0deg, 0%, 0%);
  background-color: #fff;
}
@media (max-width: 63.9375em) {
  .nav__list {
    top: 100%;
    border-bottom: 1px solid;
    width: 100%;
    transition: transform 0.25s cubic-bezier(0.2, 0.4, 0.7, 1), visibility 0ms 0.25s;
    z-index: -1;
    padding: 1.25rem;
    transform: translateY(-100%);
    padding-left: inherit;
    padding-right: inherit;
    left: 0;
    visibility: hidden;
    right: 0;
    position: absolute;
  }
}
@media (min-width: 64em) {
  .nav__list li:not(:last-of-type) {
    margin-right: 0.25em;
  }
  .nav__list li:not(:last-of-type) a::after {
    content: ",";
  }
}
.nav__list a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.375rem;
  letter-spacing: -0.005em;
  white-space: nowrap;
}
@media (min-width: 64em) {
  .nav__list {
    display: flex;
  }
}
.nav__list .sub-menu {
  display: none;
  left: 0;
  position: absolute;
  right: 0;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.visible {
  visibility: visible;
  transform: translateY(0%);
  transition: transform 0.25s cubic-bezier(0.2, 0.4, 0.8, 1);
}
.visible .nav__icon--cart {
  display: none;
}
.visible .nav__icon--profile {
  display: none;
}
.visible .nav__icon--search {
  display: none;
}

.hidden-icon {
  visibility: hidden;
  opacity: 0%;
  transition: opacity 0.25s ease-in-out;
}

.submenu-visible {
  display: block;
}
