@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 120em) {
  html {
    font-size: 114.2857142857%;
  }
}

body {
  font-family: WW beta8, sans-serif;
  font-size: 87.5%;
  line-height: 1.6;
  margin: 0;
  padding-top: 4.28em;
  transition: all 0.2s ease;
}

.site {
  display: grid;
  grid-template: "content" 1fr "footer"/100%;
  min-height: calc(100vh - 3.75rem);
  overflow-x: hidden;
  position: relative;
}

@media (min-width: 64em) {
  .main--split {
    border-left: 1px solid;
    align-items: flex-start;
  }
}

.site-content {
  display: grid;
  grid-template-areas: "content";
  grid-template-columns: 1fr;
}
.site-content--split {
  display: grid;
}
@media (min-width: 64em) {
  .site-content--split {
    grid-template-areas: "sidebar content";
    grid-template-columns: 1fr 3fr;
  }
}

.sidebar {
  border-bottom: 1px solid #000;
  padding: 1.25rem;
}
@media (min-width: 64em) {
  .sidebar {
    grid-area: sidebar;
    border: 0;
  }
}

.container {
  width: 100%;
  position: relative;
  padding: 0 1.25rem;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
}
@media (max-width: 63.9375em) {
  .wrapper {
    padding: 1.5rem 0 2rem 0;
  }
}

.banner {
  padding: 3.5rem 1.25rem 0 1.25rem;
}
@media (min-width: 64em) {
  .banner {
    padding: 3.5rem 1.25rem 1.5rem 1.25rem;
  }
}
.banner--large {
  padding: 5.5rem 1.25rem 0 1.25rem;
}
.banner--dark {
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
}
.banner__title {
  font-size: var(--h6-size);
  font-weight: 700;
  letter-spacing: 0.0275em;
  line-height: 1.375;
  text-transform: uppercase;
}

@font-face {
  font-family: WW beta8;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/wwbeta8-medium-webfont.woff2?e929cbe12e932a7f0ab5bc4cd2459cdc) format("woff2"), url(../fonts/wwbeta8-medium-webfont.woff?069046903e203a97e2e9f5ac50aac37e) format("woff");
}
@font-face {
  font-family: WW beta8;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/wwbeta8-regular-webfont.woff2?ce510d7bb393ab0a418a525c48097a1d) format("woff2"), url(../fonts/wwbeta8-regular-webfont.woff?785b910b1f0d2ef7ff6b1cd28a50389f) format("woff");
}
:root {
  --base-size: 0.875rem;
  --small-size: 0.75rem;
  --h1-size: 2.75rem;
  --h2-size: 2.125rem;
  --h3-size: 1.625rem;
  --h4-size: 1.25rem;
  --h5-size: 1rem;
  --h6-size: 0.875rem;
  --image--transition: 0ms;
}

@media (min-width: 64em) {
  :root {
    --h1-size: 4rem;
    --h2-size: 2.75rem;
    --h3-size: 2.125rem;
    --h4-size: 1.375rem;
  }
}
h1 {
  font-size: var(--h1-size);
  letter-spacing: -0.0125em;
  line-height: 1.09375;
  font-weight: 700;
}

a {
  color: inherit;
  transition: all 0.2s linear;
  text-decoration: none;
}
a:hover, a:focus {
  color: hsl(0deg, 0%, 46%);
}

.btn--primary {
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
  padding: 1.37rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.44px;
  line-height: 22px;
}
.btn--primary:hover, .btn--primary:focus {
  background-color: hsl(0deg, 0%, 46%);
  color: hsl(0deg, 0%, 100%);
}
.btn--secondary {
  text-decoration: underline;
  text-underline-position: under;
}

.nav {
  display: flex;
  position: fixed;
  z-index: 15;
  top: 0;
  transition: all 0.25s ease;
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
}
.nav::before {
  content: "";
  z-index: -1;
  height: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity, width, height;
  transition-delay: 0ms, 0.15s, 0.15s;
  transition-duration: 0.15s, 0ms, 0ms;
  transition-timing-function: cubic-bezier(0.2, 0.4, 0.8, 1);
  width: 0;
  background-image: url(../images/overlay.svg?d27c83b15ddee386806197546a348977);
}
.nav__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5625rem 0.625rem 0.625rem;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 1px solid hsl(0deg, 0%, 0%);
}
@media (min-width: 64em) {
  .nav__wrapper {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
.nav__wrapper > div {
  display: flex;
  flex: 1;
}
@media (min-width: 64em) {
  .nav__wrapper > div:first-of-type {
    display: none;
  }
}
.nav__wrapper > div:last-of-type {
  justify-content: flex-end;
}
.nav__toggle {
  z-index: 1;
  position: relative;
  display: block;
  background: hsl(0deg, 0%, 100%);
  border: none;
  width: 2.5rem;
}
.nav__toggle::before, .nav__toggle::after {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  content: "";
  height: 0.125rem;
  width: 50%;
  background-color: currentColor;
  color: hsl(0deg, 0%, 0%);
  transition: transform 0.15s cubic-bezier(0.2, 0.4, 0.8, 1);
}
.nav__toggle::before {
  transform: translate(-50%, -0.1875rem);
}
.nav__toggle::after {
  transform: translate(-75%, 0.1875rem) scaleX(0.5);
}
.nav__toggle.nav-is-expanded::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.nav__toggle.nav-is-expanded::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.nav__logo {
  height: 1rem;
  width: auto;
  margin-right: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  flex: 1;
}
.nav__logo img {
  width: auto;
  height: 100%;
}
.nav__icon {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-position: center;
  background-repeat: no-repeat;
  visibility: visible;
  opacity: 100%;
  transition: all 0.2s ease-in-out;
}
.nav__icon--button {
  padding: 0;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
.nav__icon--lang {
  font: inherit;
  display: none;
  background-repeat: no-repeat;
  background-position: 100%;
  text-align: initial;
  background-image: url(../images/Icon=Icon-chevron.svg?6d0f5da061b49553532e76b8b5ae381e);
}
@media (min-width: 64em) {
  .nav__icon--lang {
    display: block;
  }
}
.nav__icon--lang span {
  font: inherit;
}
.nav__icon--heart {
  background-image: url(../images/Icon=Icon-heart.svg?5c6982f37c0633cb04e63fc9ba576a1d);
}
@media (min-width: 64em) {
  .nav__icon--heart {
    display: block;
  }
}
.nav__icon--search {
  background-image: url(../images/Icon=Icon-search.svg?64e48fb02e71aa8e919a5035674f30b8);
}
.nav__icon--profile {
  background-image: url(../images/Icon=Icon-face.svg?cf9b93f4e0f13c8920dabbb26c0849aa);
}
.nav__icon--cart {
  background-image: url(../images/Icon=Icon-bag.svg?fc1ac035489a4a6c50b817193e442fc8);
}
.nav__icon--cart span {
  font-size: 0.625rem;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
}
@media (max-width: 63.9375em) {
  .nav__list {
    left: 0;
    right: 0;
    position: absolute;
    top: 100%;
    flex-direction: column;
    z-index: 1;
    border-bottom: 1px solid;
    transition: transform 0.25s cubic-bezier(0.2, 0.4, 0.7, 1), visibility 0ms 0.25s;
    z-index: -1;
    transform: translateY(-100%);
    visibility: hidden;
  }
}
.nav__element {
  display: inline-block;
  visibility: visible;
  color: hsl(0deg, 0%, 0%);
  background-color: hsl(0deg, 0%, 100%);
  width: 100%;
}
@media (max-width: 63.9375em) {
  .nav__element {
    letter-spacing: -0.005em;
    padding: 1.25rem;
  }
}
@media (min-width: 64em) {
  .nav__element {
    justify-content: center;
  }
  .nav__element li:not(:last-of-type) {
    margin-right: 0.25em;
  }
  .nav__element li:not(:last-of-type) a::after {
    content: ",";
  }
}
@media (min-width: 64em) {
  .nav__element {
    display: flex;
  }
}
.nav__element .sub-menu {
  display: none;
  padding-top: 0.625rem;
  padding-left: 1.25rem;
}
.nav__element .sub-menu li:nth-child(5) {
  border-bottom: 1px solid;
  padding-bottom: 1.25rem;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
.nav__element .sub-menu li:nth-child(6) {
  padding-top: 1.25rem;
}
.nav__element .sub-menu li:nth-child(n+6) {
  font-weight: 700;
}
.nav__element .sub-menu li:nth-child(n+6) a {
  font-size: var(--h5-size);
}
.nav__element .sub-menu li:last-child {
  padding-bottom: 0.625rem;
}
.nav__element .sub-menu a {
  line-height: 1.4;
  margin-bottom: 0.3125rem;
  font-size: var(--h4-size);
}
.nav__element .sub-menu--visible {
  display: block;
}
.nav__functions {
  display: none;
  background-color: hsl(0deg, 0%, 100%);
  padding-left: 1.25rem;
  padding-bottom: 1.25rem;
  font-weight: 700;
}
.nav__functions a {
  text-decoration: none;
  color: hsl(0deg, 0%, 0%);
}
@media (max-width: 63.9375em) {
  .nav__functions {
    display: block;
  }
}
.nav__lang {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.nav__lang strong {
  margin-right: 0.625rem;
}
.nav__lang ul {
  display: flex;
  flex-wrap: wrap;
}
.nav__lang ul li {
  margin-right: 0.3125rem;
}
.nav__lang ul li:last-child a {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 0%, 0%);
}
.nav__lang ul li a {
  border: 1px solid hsl(0deg, 0%, 0%);
  border-radius: 50%;
  display: block;
  font-size: 0.625rem;
  line-height: 1;
  min-width: 2.125rem;
  padding: 0.3125rem 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 0%);
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.visible {
  visibility: visible;
  transform: translateY(0%);
  transition: transform 0.25s cubic-bezier(0.2, 0.4, 0.8, 1);
}
.visible .nav__icon--cart {
  display: none;
}
.visible .nav__icon--profile {
  display: none;
}
.visible .nav__icon--search {
  display: none;
}

.hidden-icon {
  visibility: hidden;
  opacity: 0%;
  transition: all 0.2s ease-in-out;
}

.submenu-visible {
  display: block;
}

.overlay::before {
  height: 100%;
  opacity: 1;
  transition-delay: 0ms;
  width: 100%;
}

.current_page_item {
  color: hsl(0deg, 0%, 46%);
}

nav .menu-item a {
  display: block;
  text-decoration: none;
  font-size: var(--h4-size);
  letter-spacing: -0.005em;
  white-space: nowrap;
  font-weight: 700;
}

.rescue {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding: 1.25rem;
}
.rescue__title {
  margin-bottom: 2rem;
}

.document {
  padding: 1.25rem;
}
@media (min-width: 64em) {
  .document {
    padding: 6% 11.11111%;
  }
}
.document__subheading {
  font-size: var(--h4-size);
  font-weight: 700;
  letter-spacing: -0.005em;
  line-height: 1.4;
}

@supports ((background-image: -webkit-image-set(url("../images/hero-500w.avif") 1x, url("../images/hero-500w.webp") 1x)) or (background-image: image-set(url("../images/hero-500w.avif") 1x, url("../images/hero-500w.webp") 1x))) {
  .hero__wrapper {
    background-image: -webkit-image-set(url(../images/hero-500w.avif?478a6e14c93543e32d156807598bea85) 1x, url(../images/hero-500w.webp?f6f079e29a190cdcc351b5e7107a61e1) 1x);
    background-image: image-set(url(../images/hero-500w.avif?478a6e14c93543e32d156807598bea85) 1x, url(../images/hero-500w.webp?f6f079e29a190cdcc351b5e7107a61e1) 1x);
  }
  @media (min-width: 64em) {
    .hero__wrapper {
      background-image: -webkit-image-set(url(../images/hero-1400w.avif?711a126bbc55e94df54717e0e3989961) 1x, url(../images/hero-1400w.webp?57ac12689db42eccc3e81f9ea43ed5d1) 1x);
      background-image: image-set(url(../images/hero-1400w.avif?711a126bbc55e94df54717e0e3989961) 1x, url(../images/hero-1400w.webp?57ac12689db42eccc3e81f9ea43ed5d1) 1x);
    }
  }
}
@supports not ((background-image: -webkit-image-set(url("../images/hero-500w.avif") 1x, url("../images/hero-500w.webp") 1x)) or (background-image: image-set(url("../images/hero-500w.avif") 1x, url("../images/hero-500w.webp") 1x))) {
  .hero__wrapper {
    background-image: url(../images/hero-500w.png?49c9b17ad0c5418598bc0b4a51acaaff);
  }
  @media (min-width: 64em) {
    .hero__wrapper {
      background-image: url(../images/hero-1400w.png?c3380c06deaf59ce8a7d6ed6bcb90ae1);
    }
  }
}
.hero {
  margin-bottom: 2rem;
  box-sizing: border-box;
}
@media (min-width: 64em) {
  .hero {
    padding: 0 1.25rem;
  }
}
.hero__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: hsl(0deg, 0%, 100%);
  padding: 1.25rem;
}
@media (min-width: 64em) {
  .hero__wrapper {
    padding: 3.5rem;
  }
}
.hero__title {
  font-weight: 700;
  font-size: calc(2.23944rem + 7.51174vw);
  letter-spacing: -0.015em;
  line-height: 1.09375;
  margin-bottom: 0;
}
@media (min-width: 64em) {
  .hero__title {
    font-size: 6.5rem;
  }
}
.hero__paragraph {
  font-size: var(--h3-size);
  line-height: 1.3;
  margin-top: 0.625rem;
  padding-right: 2rem;
}

@supports ((background-image: -webkit-image-set(url("../images/signup-500w.avif") 1x, url("../images/signup-500w.webp") 1x)) or (background-image: image-set(url("../images/signup-500w.avif") 1x, url("../images/signup-500w.webp") 1x))) {
  .signup {
    background-image: -webkit-image-set(url(../images/signup-500w.avif?3054f96efe6e0f0e1c8b6787905b729c) 1x, url(../images/signup-500w.webp?6acdce11a4a50f6c14afafc2db839065) 1x);
    background-image: image-set(url(../images/signup-500w.avif?3054f96efe6e0f0e1c8b6787905b729c) 1x, url(../images/signup-500w.webp?6acdce11a4a50f6c14afafc2db839065) 1x);
  }
  @media (min-width: 64em) {
    .signup {
      background-image: -webkit-image-set(url(../images/signup-2000w.avif?1d7280d254a74b69c04aec08693c622f) 1x, url(../images/signup-2000w.webp?1dadc2657af8985ffe00aeb7629c2347) 1x);
      background-image: image-set(url(../images/signup-2000w.avif?1d7280d254a74b69c04aec08693c622f) 1x, url(../images/signup-2000w.webp?1dadc2657af8985ffe00aeb7629c2347) 1x);
    }
  }
}
@supports not ((background-image: -webkit-image-set(url("../images/signup-500w.avif") 1x, url("../images/signup-500w.webp") 1x)) or (background-image: image-set(url("../images/signup-500w.avif") 1x, url("../images/signup-500w.webp") 1x))) {
  .signup {
    background-image: url(../images/signup-500w.jpg?b072f48e1f639055f56ddea227637525);
  }
  @media (min-width: 64em) {
    .signup {
      background-image: url(../images/signup-2000w.jpg?f0101a1484a27e0299096af535eb58bd);
    }
  }
}
.signup {
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5.5rem 1.25rem;
  box-sizing: border-box;
}
.signup__wrapper {
  border: 1px solid;
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
  max-width: 730px;
  padding: 3.125rem;
}
.signup__wrapper h3 {
  font-size: var(--h2-size);
  letter-spacing: -1.27px;
  font-weight: 700;
}
.signup__form * + * {
  margin-top: 1.875rem;
}
.signup button {
  padding: 1rem 0;
  cursor: pointer;
  font-weight: 700;
  width: 100%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-size: var(--base-size);
  background-color: hsl(0deg, 0%, 0%);
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border: none;
  color: hsl(0deg, 0%, 100%);
  transition: background-color 0.1s ease;
  margin-bottom: 1.5rem;
}
.signup button:hover,
.signup button :focus {
  background-color: hsl(0deg, 0%, 46%);
}

.events {
  margin-top: 5.5rem;
  width: 100%;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 0%, 0%);
  overflow: hidden;
}
.events__wrapper {
  display: flex;
  flex-direction: column;
  padding: 5.5rem 2.5rem 1.5rem 2.5rem;
}
.events__wrapper p {
  font-size: var(--h6-size);
  font-weight: 700;
  letter-spacing: 0.0275em;
  line-height: 1.375;
  text-transform: uppercase;
}
.events__list {
  padding: 2rem 0 2rem 0;
}
@media (min-width: 64em) {
  .events__list {
    padding: 10rem calc(8.333% - 1.25rem) 10rem calc(8.333% - 1.25rem);
  }
}
.events__element {
  display: grid;
  margin-bottom: 1.25rem;
  font-size: 2.125rem;
  line-height: 1.2;
  transition: color 0.2s linear;
}
@media (min-width: 64em) {
  .events__element {
    font-size: calc(1.45995rem + 2.83753vw);
    grid-column-gap: 1.875rem;
    grid-template-columns: minmax(6.5ch, -webkit-max-content) 1fr;
    grid-template-columns: minmax(6.5ch, max-content) 1fr;
  }
}
@media (max-width: 63.9375em) {
  .events__element span {
    font-size: 0.61em;
  }
}
.events__element h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
  font-weight: 700;
  overflow: hidden;
}
.events__img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 450px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s cubic-bezier(0.2, 0.4, 0.8, 1);
}
.events__img img {
  width: 100%;
  height: auto;
}

@media (min-width: 64em) {
  .image-visible {
    opacity: 1;
  }
}

.benefits {
  width: 100%;
  position: relative;
  padding: 0 1.25rem;
  box-sizing: border-box;
}
.benefits .wrapper {
  justify-content: space-between;
}
.benefits__illustration {
  display: none;
  width: 100%;
}
.benefits__illustration img {
  width: 100%;
  height: auto;
}
@media (min-width: 64em) {
  .benefits__illustration {
    max-width: 600px;
    display: block;
  }
}
.benefits__content {
  width: 100%;
}
@media (min-width: 64em) {
  .benefits__content {
    max-width: 838px;
  }
}
.benefits__content h2 {
  font-size: var(--h2-size);
  letter-spacing: -0.55px;
  line-height: 48.1px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
@media (min-width: 64em) {
  .benefits__content h2 {
    margin-bottom: 2.5rem;
    max-width: 80%;
  }
}
@media (min-width: 64em) {
  .benefits__content {
    padding: 5rem 0 6rem 0;
  }
}
.benefits__list,
.benefits .collabs__container {
  font-size: var(--h4-size);
  font-weight: 700;
  line-height: 25.2px;
}
@media (min-width: 64em) {
  .benefits__list,
.benefits .collabs__container {
    max-width: 80%;
  }
}
.benefits__elem,
.benefits .collabs__container > a {
  padding: 1rem 0 1rem 0.5rem;
}
.benefits__elem + .benefits__elem,
.benefits .collabs__container > a + .collabs__container > a {
  border-top: 1px solid;
}

.how__wrapper {
  justify-content: space-between;
}
.how__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}
@media (min-width: 64em) {
  .how__content {
    max-width: 838px;
    padding: 5rem 1.25rem 0 2.5rem;
  }
}
.how__illustration {
  display: none;
  width: 100%;
}
.how__illustration img {
  width: 100%;
  height: auto;
}
@media (min-width: 64em) {
  .how__illustration {
    max-width: 600px;
    display: block;
  }
}
.how__title {
  font-size: var(--h1-size);
  line-height: 48.13px;
  font-weight: 700;
  letter-spacing: -0.55px;
}
@media (min-width: 64em) {
  .how__title {
    font-size: var(--h2-size);
  }
}
.how__list {
  font-size: var(--base-size);
  padding: 1.5rem 0 2rem 0;
}
@media (min-width: 64em) {
  .how__list {
    padding: 3.5rem 0 2.5rem;
  }
}
.how__list li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem 0;
  max-width: 65ch;
}
.how__list li::before {
  content: "";
  display: inline-block;
  background-size: 100% 100%;
  height: 1.375rem;
  width: 1.375rem;
  background-image: url(../images/Icon=Icon-arrow.svg?d86521a569eea0b8d3148b3d32693491);
  background-repeat: no-repeat;
  background-position: left;
  padding: 0.75rem;
  box-sizing: border-box;
  margin-right: 1rem;
}
.how__actions {
  display: flex;
  align-items: baseline;
}
.how__actions a + a {
  margin-left: 1.5rem;
}

.faq {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 1.25rem 5.5rem 1.25rem;
  box-sizing: border-box;
}
.faq__wrapper {
  width: 100%;
  max-width: 730px;
}
@media (min-width: 64em) {
  .faq__wrapper {
    padding: 3.125rem;
  }
}
.faq__content {
  border: 1px solid;
}
.faq__content details {
  color: hsl(0deg, 0%, 0%);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: none;
}
.faq__content details + details {
  border-top: 1px solid;
}
.faq__content summary {
  display: block;
  cursor: pointer;
  position: relative;
  padding: 1rem 3rem 1rem 1.25rem;
  background: hsl(0deg, 0%, 100%);
  color: inherit;
  font-size: var(--h4-size);
  font-weight: 700;
  transition: background 0.3s ease-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: none;
}
.faq__content summary::after {
  content: "";
  display: flex;
  position: absolute;
  background-image: url(../images/Icon=Icon-chevron.svg?6d0f5da061b49553532e76b8b5ae381e);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 2.5rem;
  width: 2.5rem;
  right: 0.5rem;
  height: 100%;
  top: 0;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.faq__content details:not([open]) summary:hover,
.faq__content details:not([open]) summary:focus {
  background: hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 0%);
}
.faq__content details[open] summary {
  background: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
  transition: background 0.3s ease-out;
}
.faq__content details[open] summary::after {
  filter: invert(1);
  transform: rotate(180deg);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.faq__content details main {
  padding: 1.5rem 1.25rem;
}
.faq__content details main p {
  margin: 0;
}
.faq__title {
  font-size: var(--h2-size);
  font-weight: 700;
  letter-spacing: -0.55px;
  margin-bottom: 2rem;
}
@media (min-width: 40em) {
  .faq__title {
    text-align: center;
  }
}

@media (min-width: 64em) {
  .headline {
    padding-bottom: 2rem;
  }
}
.headline h2 {
  font-size: var(--h2-size);
  font-weight: 700;
  letter-spacing: -0.55px;
  line-height: 48.1px;
}

.offer {
  width: 100%;
  box-sizing: border-box;
}
.offer__list {
  width: 100%;
  display: flex;
  overflow: visible;
}
@media (min-width: 64em) {
  .offer__list {
    flex-wrap: nowrap;
  }
}
.offer__el {
  display: block;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.44px;
  line-height: 22px;
}
.offer__image {
  width: 100%;
}
.offer__image img {
  width: 100%;
  height: auto;
}
@media (min-width: 64em) {
  .offer__image {
    max-width: 480px;
  }
}
.offer__info {
  padding: 1.25rem;
}
.offer__details {
  display: flex;
  justify-content: space-between;
}
.offer__heart {
  padding-top: 0.3125rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/Icon=Icon-heart.svg?5c6982f37c0633cb04e63fc9ba576a1d);
  border: none;
  display: inline-block;
  background-size: 100%;
  cursor: pointer;
  background-color: hsl(0deg, 0%, 100%);
  width: 1.25rem;
  height: 1.25rem;
}
.offer__price {
  display: flex;
  margin-top: 0.625rem;
}
.offer__price del {
  margin-right: 0.5em;
  position: relative;
  text-decoration: none;
}
.offer__price del::after {
  background-image: url(../images/scribble.webp?4fa3da0c9b7d313509924165254b5769);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 110%;
  left: -5%;
  position: absolute;
  top: -5%;
  width: 110%;
}

@media (min-width: 64em) {
  .swiper-slide {
    flex-shrink: 1;
  }
}

.swiper-slide + .swiper-slide {
  margin-left: 1px;
}

.footer {
  grid-area: footer;
}
.footer__container {
  color: hsl(0deg, 0%, 0%);
  display: grid;
  grid-template-areas: "customer customer" "linksA linksB" "newsletter newsletter" "campaign campaign" "end end";
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 64em) {
  .footer__container {
    grid-template-areas: "customer newsletter linksA linksB" "customer campaign linksA linksB" "end end end end";
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer__customer {
  border-top: 1px solid;
  grid-area: customer;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}
.footer__customer a,
.footer__customer strong {
  font-size: var(--h4-size);
  font-weight: 700;
  letter-spacing: -0.005em;
  line-height: 1.4;
}
.footer__customer-link {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.footer__links {
  border-top: 1px solid;
  grid-area: linksA;
  padding: 1.25rem;
}
.footer__links a {
  font-weight: 700;
}
.footer__links + .footer__links {
  border-left: 1px solid;
  grid-area: linksB;
}
.footer__newsletter {
  border-top: 1px solid;
  grid-area: newsletter;
  padding: 1.25rem;
}
.footer__newsletter p {
  font-size: var(--h4-size);
  font-weight: 700;
  letter-spacing: -0.005em;
  line-height: 1.4;
  margin-bottom: 0.9375rem;
}
.footer__newsletter-fields {
  position: relative;
}
.footer__newsletter-label {
  color: hsl(0deg, 0%, 46%);
  cursor: text;
  position: absolute;
  transform: translateY(calc(0.875rem + 1px));
  transition: transform 0.18s cubic-bezier(0.2, 0.4, 0.8, 1);
  will-change: transform;
}
.footer__newsletter-input {
  background-image: linear-gradient(90deg, #000, #000 50%, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0));
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 1px;
  border: 1px solid hsl(0deg, 0%, 100%);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom: 0;
  padding-bottom: calc(0.875rem + 1px);
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 0%);
  display: block;
  outline: 0;
  padding: 0.875rem 0;
  padding-bottom: 0.875rem;
  width: 100%;
}
.footer__newsletter-btn {
  padding: 0.875rem 0 0.875rem 1.2rem;
  cursor: pointer;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border: none;
  color: hsl(0deg, 0%, 100%);
  transition: background-color 0.1s ease;
  background-color: initial;
  position: absolute;
  right: 0;
  top: 0;
}
.footer__newsletter-btn span {
  clip: rect(0 0 0 0);
  border: 0;
  display: block;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.footer__newsletter-btn::after {
  background-image: url(../images/Icon=Icon-arrow.svg?d86521a569eea0b8d3148b3d32693491);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 1.375rem;
  width: 1.375rem;
}
.footer__campaign {
  border-top: 1px solid;
  font-size: var(--h4-size);
  font-weight: 700;
  grid-area: campaign;
  letter-spacing: -0.005em;
  line-height: 1.4;
  padding: 1.25rem;
}
.footer__campaign-link {
  transition: color 0.2s linear;
  color: inherit;
}
.footer__campaign-link span {
  align-items: baseline;
  display: flex;
}
.footer__campaign-link span::before {
  content: "▶︎";
  font-size: 0.875rem;
  margin-right: 1rem;
  position: relative;
  top: -0.1em;
}
.footer__campaign, .footer__links, .footer__newsletter {
  border-left: 1px solid;
}
.footer__end {
  align-items: center;
  border-top: 1px solid;
  display: grid;
  grid-area: end;
  grid-template-columns: 1fr auto auto;
  padding: 1.25rem;
  font-weight: 400;
}
@media (min-width: 64em) {
  .footer__end {
    grid-template-columns: repeat(3, minmax(-webkit-max-content, 1fr));
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
  }
}
.footer__copyright {
  margin-bottom: 0;
}
.footer__some {
  display: flex;
}
@media (min-width: 64em) {
  .footer__some {
    justify-self: center;
  }
}
.footer__icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  display: block;
  height: 1.875rem;
  width: 1.875rem;
}
.footer__icon--twitter {
  background-image: url(../images/Icon=SoMe-twitter.svg?b394c4346863ec742b96e1d4197d0391);
}
.footer__icon--facebook {
  background-image: url(../images/Icon=SoMe-facebook.svg?73101f7c0ffb29fdf6018530bd7c6053);
}
.footer__icon--instagram {
  background-image: url(../images/Icon=SoMe-instagram.svg?e0c533e95a4c1f3799db9bfa148a79a6);
}
.footer__icon--vimeo {
  background-image: url(../images/Icon=SoMe-vimeo.svg?6fd49818155ddfc58e35cbb8bd597aea);
}
.footer__icon--spotify {
  background-image: url(../images/Icon=SoMe-spotify.svg?02b9f515550b53bc2a8f12d854e6d344);
}
.footer__icon-label {
  clip: rect(0 0 0 0);
  border: 0;
  display: block;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.has-focus {
  transform: translateY(-0.625rem);
}

@media (max-width: 63.9375em) {
  .swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;
  }

  .swiper-vertical > .swiper-wrapper {
    flex-direction: column;
  }

  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }

  .swiper-android .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }

  .swiper-pointer-events {
    touch-action: pan-y;
  }
  .swiper-pointer-events.swiper-vertical {
    touch-action: pan-x;
  }

  .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
  }

  .swiper-slide-invisible-blank {
    visibility: hidden;
  }

  /* Auto Height */
  .swiper-autoheight,
.swiper-autoheight .swiper-slide {
    height: auto;
  }
  .swiper-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
  }

  .swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  /* 3D Effects */
  .swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
    perspective: 1200px;
  }
  .swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
    transform-style: preserve-3d;
  }
  .swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
  }
  .swiper-3d .swiper-slide-shadow {
    background: rgba(0, 0, 0, 0.15);
  }
  .swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }

  /* CSS Mode */
  .swiper-css-mode > .swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
  }
  .swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
    display: none;
  }
  .swiper-css-mode > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: start start;
  }

  .swiper-horizontal.swiper-css-mode > .swiper-wrapper {
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }

  .swiper-vertical.swiper-css-mode > .swiper-wrapper {
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
  }

  .swiper-centered > .swiper-wrapper::before {
    content: "";
    flex-shrink: 0;
    order: 9999;
  }
  .swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
    -webkit-margin-start: var(--swiper-centered-offset-before);
            margin-inline-start: var(--swiper-centered-offset-before);
  }
  .swiper-centered.swiper-horizontal > .swiper-wrapper::before {
    height: 100%;
    width: var(--swiper-centered-offset-after);
  }
  .swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
    -webkit-margin-before: var(--swiper-centered-offset-before);
            margin-block-start: var(--swiper-centered-offset-before);
  }
  .swiper-centered.swiper-vertical > .swiper-wrapper::before {
    width: 100%;
    height: var(--swiper-centered-offset-after);
  }
  .swiper-centered > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: center center;
  }
}
@supports ((background-image: -webkit-image-set(url("../images/collab-1-1000w.avif") 1x, url("../images/collab-1-1000w.webp") 1x)) or (background-image: image-set(url("../images/collab-1-1000w.avif") 1x, url("../images/collab-1-1000w.webp") 1x))) {
  .collabs__illustration-image--1 {
    background-image: -webkit-image-set(url(../images/collab-1-1000w.avif?525c555f02301d49b6d6d7c6c7f88829) 1x, url(../images/collab-1-1000w.webp?319e059d342ed468c38dd5bc3f4ee50e) 1x);
    background-image: image-set(url(../images/collab-1-1000w.avif?525c555f02301d49b6d6d7c6c7f88829) 1x, url(../images/collab-1-1000w.webp?319e059d342ed468c38dd5bc3f4ee50e) 1x);
  }
  .collabs__illustration-image--2 {
    background-image: -webkit-image-set(url(../images/collab-2-1000w.avif?cc39a35ff99dd9825e1abc5037c36abd) 1x, url(../images/collab-2-1000w.webp?704f3ea7c6842e40e0ca2341b69cf192) 1x);
    background-image: image-set(url(../images/collab-2-1000w.avif?cc39a35ff99dd9825e1abc5037c36abd) 1x, url(../images/collab-2-1000w.webp?704f3ea7c6842e40e0ca2341b69cf192) 1x);
  }
  .collabs__illustration-image--3 {
    background-image: -webkit-image-set(url(../images/collab-3-1000w.avif?cfeb645312aacd39515395e475d231d0) 1x, url(../images/collab-3-1000w.webp?62b40165c50bcf0ab8c2a78b310b47d1) 1x);
    background-image: image-set(url(../images/collab-3-1000w.avif?cfeb645312aacd39515395e475d231d0) 1x, url(../images/collab-3-1000w.webp?62b40165c50bcf0ab8c2a78b310b47d1) 1x);
  }
  .collabs__illustration-image--4 {
    background-image: -webkit-image-set(url(../images/collab-4-1000w.avif?bfdff181bc374c43184e13d00ef07a2b) 1x, url(../images/collab-4-1000w.webp?8b06e0d57a1351ccaee36bbe68058067) 1x);
    background-image: image-set(url(../images/collab-4-1000w.avif?bfdff181bc374c43184e13d00ef07a2b) 1x, url(../images/collab-4-1000w.webp?8b06e0d57a1351ccaee36bbe68058067) 1x);
  }
  .collabs__illustration-image--5 {
    background-image: -webkit-image-set(url(../images/collab-5-1000w.avif?d135280bff80171af85f269483291836) 1x, url(../images/collab-5-1000w.webp?6abe1483edbb23a73b030b5fad2f4cf3) 1x);
    background-image: image-set(url(../images/collab-5-1000w.avif?d135280bff80171af85f269483291836) 1x, url(../images/collab-5-1000w.webp?6abe1483edbb23a73b030b5fad2f4cf3) 1x);
  }
  .collabs__illustration-image--6 {
    background-image: -webkit-image-set(url(../images/collab-6-1000w.avif?8bc526d3f57f22c131d4a98956150756) 1x, url(../images/collab-6-1000w.webp?c29232fc7921b94a636aa8dbe791ab6a) 1x);
    background-image: image-set(url(../images/collab-6-1000w.avif?8bc526d3f57f22c131d4a98956150756) 1x, url(../images/collab-6-1000w.webp?c29232fc7921b94a636aa8dbe791ab6a) 1x);
  }
}
@supports not ((background-image: -webkit-image-set(url("../images/collab-1-1000w.avif") 1x, url("../images/collab-1-1000w.webp") 1x)) or (background-image: image-set(url("../images/collab-1-1000w.avif") 1x, url("../images/collab-1-1000w.webp") 1x))) {
  .collabs__illustration-image--1 {
    background-image: url(../images/collab-1-1000w.jpg?7240834bcae1e2c4fbd25f0c114975f8);
  }
  .collabs__illustration-image--2 {
    background-image: url(../images/collab-2-1000w.jpg?b9c5dc284edf1826d24ede974dd3bc19);
  }
  .collabs__illustration-image--3 {
    background-image: url(../images/collab-3-1000w.jpg?a68157802a532108ed0b588a885c778c);
  }
  .collabs__illustration-image--4 {
    background-image: url(../images/collab-4-1000w.jpg?24fdf0df5e2fe8cb571f34ea59ca1f27);
  }
  .collabs__illustration-image--5 {
    background-image: url(../images/collab-5-1000w.jpg?74683def0f0e05ef733f2dda699f8ef0);
  }
  .collabs__illustration-image--6 {
    background-image: url(../images/collab-6-1000w.jpg?95450a812b99d8d8fe4c2e7da0592fea);
  }
}
.collabs {
  width: 100%;
  position: relative;
  padding: 0 1.25rem;
  box-sizing: border-box;
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
}
.collabs .wrapper {
  justify-content: space-between;
}
.collabs__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 64em) {
  .collabs__illustration {
    max-width: 600px;
    display: flex;
    resize: both;
    width: 100%;
    aspect-ratio: 3/4;
  }
  .collabs__illustration-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
}
